.alert{
  position: relative;
  font-size: $alert-font-size;
  padding: $alert-padding-y $alert-padding-x;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
  margin-bottom: $alert-margin-bottom;

}
.alert-dismissible{
  padding-right: ($close-font-size + $alert-padding-x * 2);
  .close{
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}
@each $color, $value in $theme-colors{
  .alert-#{$color}{
    @include alert-gradient(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
  }
}