.share-list-group{
  .share-list{
    display: inline-block;
    @include padding(12.5px);
    @include margin(5px 3px);
    &.qq{background: url("#{$img-url}/share_qq.png") no-repeat;}
    &.wx{background: url("#{$img-url}/share_wx.png") no-repeat;}
    &.wb{background: url("#{$img-url}/share_wb.png") no-repeat;}
    &.qzone{background: url("#{$img-url}/share_qzone.png") no-repeat;}
    &.wx{
      position: relative;
      .share-wx-code{
        position: absolute;
        top: 100%;
        margin-top: 9px;
        left: -93px;
        border: 1px solid $gray-200;
        z-index:5;
        display: none;
        >img{
          width: 200px;
        }
      }
      &:hover{
        .share-wx-code{
          display: block;
        }
      }
    }
  }
}