<div class="agl-header">
    AGL COMPONENTS
</div>
<div class="agl-content">
    <div class="agl-sidebar">
        <div class="list-group">
            <div class="list-group-item" ui-sref="dropdown" ui-sref-active="active">dropdown</div>
            <div class="list-group-item" ui-sref="share" ui-sref-active="active">share</div>
            <div class="list-group-item" ui-sref="alert" ui-sref-active="active">alert</div>
            <div class="list-group-item" ui-sref="datamutual" ui-sref-active="active">datamutual</div>
        </div>
    </div>
    <div class="agl-main">
        <div class="ui-view"></div>
    </div>
</div>