.dropdown{
  position: relative;
}
.dropdown-toggle{
  @include caret;
}
//dropdown menu
.dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none;
  float: left;
  min-width: $dropdown-min-width;
  padding: $dropdown-padding-y 0;
  margin: $dropdown-space 0 0;
  font-size: $font-size-base;
  color: $gray-600;
  text-align: left;
  list-style: none;
  background-color: $white;
  border: $dropdown-border-width solid $dropdown-border-color;
  @include border-radius($dropdown-border-radius);
  @include box-shadow($box-shadow);
}
.open{
  >.dropdown-menu{
    display: block;
  }
}
.dropdown-menu-right{
  right: 0;
  left: auto;
}
.dropup{
  .dropdown-menu{
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: $dropdown-space;
  }
  .dropdown-toggle{
    @include caret(up);
  }
}
.dropdownright{
  .dropdown-menu{
    top: 0;
    left: 100%;
    right: auto;
    margin-top: 0;
    margin-left: $dropdown-space;
  }
  .dropdown-toggle{
    @include caret(right);
    &:after{
      vertical-align: 0;
    }
  }
}
.dropleft{
  .dropdown-menu{
    top: 0;
    left: auto;
    right: 100%;
    margin-top: 0;
    margin-right: $dropdown-space;
  }
  .dropdown-toggle{
    @include caret(left);
    &:before{
      vertical-align: 0;
    }
  }
}
.dropdown-menu{
  &[x-placement^="top"],&[x-placement^="right"],&[x-placement^="bottom"],&[x-pacement^="left"]{
    right: auto;
    bottom: auto;
  }
  &.show{
    display: block;
  }
}