<!--share-->
<div class="share-list-group">
    <a href="#" ng-click="shareData('qq')" class="share-list qq" title="分享到QQ"></a>
    <a href="#" ng-click="shareData('wx')" class="share-list wx" title="分享到微信">
        <div class="share-wx-code">
            <img src="images/smallprojectcode.png" alt=""/>
        </div>
    </a>
    <a href="#" ng-click="shareData('zone')" class="share-list qzone" title="分享到QQ空间"></a>
    <a href="#" ng-click="shareData('microblog')" class="share-list wb" title="分享到新浪微博"></a>
</div>