@mixin caret-down{
  border-top: $caret-width solid;
  border-left: $caret-width solid transparent;
  border-right: $caret-width solid transparent;
  border-bottom: 0;
}
@mixin caret-up{
  border-bottom: $caret-width solid;
  border-left: $caret-width solid transparent;
  border-right: $caret-width solid transparent;
  border-top: 0;
}
@mixin  caret-left{
  border-right: $caret-width solid;
  border-top: $caret-width solid transparent;
  border-bottom: $caret-width solid transparent;
  border-left: 0;
}
@mixin caret-right{
  border-left: $caret-width solid;
  border-top: $caret-width solid transparent;
  border-bottom: $caret-width solid transparent;
  border-right: 0 ;
}
@mixin caret($direction:down){
  @if $enable-caret{
    &:after{
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: $caret-width/2;
      vertical-align: $caret-width/2;
      content: '';
      @if $direction == down {
        @include caret-down;
      } @else if $direction == up {
        @include caret-up;
      } @else if $direction == right{
        @include caret-right;
      }
    }
    @if $direction == left{
      :after{
        display: none;
      }
      &:before{
        display: inline-block;
        width: 0;
        height: 0;
        margin-right: $caret-width/2;
        vertical-align: $caret-width/2;
        content: '';
        @include caret-left;
      }
    }
    &:empty:after{
      margin-left: 0;
    }
  }
}